*{
    margin:0;
    padding:0
}
a{
    color:black;
    /* color:inherit; */
    text-decoration: none;
    /* 밑줄제거 */
}
li{
    list-style: none;
    /* 목록기호없애기 */
}
table{
    border-collapse: collapse;
    /* 표데두리 단일실선 */
}